body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

/* 留言板样式 */
.guestbook {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.guestbook h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#guestbook-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#message {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555;
}

#messages {
    background: white;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.message-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.message-item:last-child {
    border-bottom: none;
}

section {
    margin: 20px;
}

.gallery img {
    width: 200px;
    margin: 10px;
}

/* Cookie Banner 样式 */
.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* 初始状态为隐藏 */
    z-index: 1000;
}

.cookie-banner p {
    margin: 0;
    font-size: 14px;
    display: inline-block;
}

.cookie-banner a {
    color: #4CAF50;
    text-decoration: none;
    margin-left: 5px;
}

.cookie-banner button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.cookie-banner button:hover {
    background-color: #45a049;
}
